@font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-Black.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('./static/fonts/Inter-Regular.ttf') format('truetype');
}