

/*Color Vars */
:root{
    --primary-red-full: #FF0000;
    --secondary-red-full: #b71c1c;
    --primary-green-full: #388e3c;
    --secondary-green-full: #009688;
    --primary-violet-full: #8e24aa;
    --secondary-violet-full: #d81b60;
    --primary-blue-full: #1976d2;
    --secondary-blue-full: #01579b;
}


html, body {
    margin: 0;
    padding: 0 0px;
    min-height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;
}

.background {
    background-color: var(--secondary-green-full);
    min-height: 100vh;
    padding: .2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        padding: 1em;
    }
}

.header {
    text-align: center;
    padding-top: 40px;
    font-family: 'WorkSans', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}

.slogan {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    font-style: italic;
    color: #fff;
    margin-bottom: 30px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: .2em;

    @media screen and (min-width: 768px) {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .board {
        padding: 40px 10px 80px 10px;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

flyer-link{
    width: 100%;
}

.flyer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a.flyer {
    width: 450px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-red-full);
    padding: .4em;
    font-size: 2rem;
}

a.flyer:hover {
    border: .2em solid var(--secondary-red-full);
}

a.flyer i {
    font-size: 3rem;
}

.logo-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 12px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    a.flyer {
        width: 70%;
        font-size: 1rem;
    }
    a.flyer i {
        font-size: 2.5rem;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(-2deg) translateY(-1px);
    }
    50% {
        transform: rotate(2deg) translateY(1px);
    }
    100% {
        transform: rotate(-2deg) translateY(-1px);
    }
}
